version: '3.7'
services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: 'customer_api'
    restart: 'on-failure'
    tty: true
    volumes:
      - .:/var/www
      - ./000-default.conf:/etc/apache2/sites-enabled/000-default.conf
    networks:
      customer-api:
        ipv4_address: 10.25.0.10
  mongodb:
    image: mongo:4.4
    container_name: 'customer_api_mongo'
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_DATA_LOG=/var/log/mongo
      - MONGO_INITDB_DATABASE=customer_api
      - MONGO_NON_ROOT_USERNAME=customerapi
      - MONGO_NON_ROOT_PASSWORD=customerapi
    volumes:
      - ./.docker/mongo:/data/db
    networks:
      customer-api:
        aliases:
          - mongodb
        ipv4_address: 10.25.0.20
networks:
  customer-api:
    name: customer-api
    driver: bridge
    ipam:
      config:
        - subnet: 10.25.0.0/16